<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include header %>
  <script>
  $(window).load(function(){
    $("#menu").sticky({ topSpacing: 0 });
  });
  </script>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar menubar" id="menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <a class="navbar-brand logo" href="/">VWiC</a>
      </div>
      <div>
        <nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
          <ul class="nav navbar-nav navbar-left navstyle">
            <li><a href="/" class="page-scroll active">Home</a></li>
            <li><a href="/story" class="page-scroll">Hall of fame</a></li>
          </ul>
          <form method="GET" action="/logout">
            <button type="submit" class="btn btn-lg btn-danger navbar-btn navbar-right">Log out</button>
          </form>
        </nav>
      </div>
  </div>
</div> <!-- END SECTION NAVBAR -->

  <!-- BODY -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="hostyle">Welcome back,<%=user.displayName%></h1>
      </div>
      <div class="col-md-4">
        <img src="<%=user.imageUrl%>" name="<%=user.displayName%>" class="img-circle"/>
      </div>
    </div>
    <div>
      <h2 class="banner-text">You wrote <%=user.created_stories.length%> stories</h2>
    </div>
    <div>
      <h2 class="banner-text">You be inspired by <%=user.inspired_stories.length%> stories/women</h2>
    </div>
  </div>
</body>
</html>
