<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include header %>
  <script>
  $(window).load(function(){
    $("#menu").sticky({ topSpacing: 0 });
  });
  </script>
  <link rel="stylesheet" type="text/css" href="/css/profile.css"/>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar menubar" id="menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <a class="navbar-brand logo" href="/">VWiC</a>
      </div>
      <div>
        <nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
          <ul class="nav navbar-nav navbar-left navstyle">
            <li><a href="/" class="page-scroll active">Home</a></li>
            <li><a href="/story" class="page-scroll">Hall of fame</a></li>
          </ul>
          <form method="GET" action="/logout">
            <button type="submit" class="btn btn-lg btn-danger navbar-btn navbar-right">Log out</button>
          </form>
        </nav>
      </div>
    </div>
  </div> <!-- END SECTION NAVBAR -->

  <!-- BODY -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="hostyle">Welcome back,<%=user.displayName%></h1>
      </div>
      <div class="col-md-4">
        <img src="<%=user.imageUrl%>" name="<%=user.displayName%>" class="img-circle"/>
      </div>
    </div>

    <br>

    <div>
      <h2 class="banner-text">You wrote <%=user.created_stories.length%> stories</h2>
    </div>

    <!-- MY STORIES -->
    <div class="container">
      <div class="row">
       <br>
       <div class="my-stories">
        <div class="my-story">
          <strong>Dao Nguyen</strong>
          <br>
        <a href="#">How she became the first board member of Texas Instrument</a>
        </div>
        <div class="my-story">
          <strong>Kathy Pham</strong>
                  <br>
        <a href="#">How she became the first board member of Texas Instrument</a>
        </div>
        <div class="my-story">
          <strong>Sophia Ngo</strong>
                  <br>
        <a href="#">How she became the first board member of Texas Instrument</a>
        </div>
        <div class="my-story">
          <strong>Anh Tu Quach</strong> 
                  <br>
        <a href="#">How she became the first board member of Texas Instrument</a>
        </div>
      </div>
    </div>
  </div><!-- END MY STORIES -->

  <br>

  <div>
    <h2 class="banner-text">You be inspired by <%=user.inspired_stories.length%> stories/women</h2>
  </div>

  <!-- MY INSPIRATION -->
  <div class="container">
    <div class="row">
     <br>
     <div class="my-inspirations">
      <div class="my-inspiration">
        <strong>Duy Loan Le</strong>
        <br>
        <a href="#">How she became the first board member of Texas Instrument</a>
      </div>
      <div class="my-inspiration">
        <strong>Duy Loan Le</strong>
                <br>
        <a href="#">How she became the first board member of Texas Instrument</a>
      </div>
      <div class="my-inspiration">
        <strong>Duy Loan Le</strong>
                <br>
        <a href="#">How she became the first board member of Texas Instrument</a>
      </div>
      <div class="my-inspiration">
        <strong>Duy Loan Le</strong>
                <br>
        <a href="#">How she became the first board member of Texas Instrument</a>
      </div>
    </div>
  </div>
</div><!-- END MY INSPIRATION -->
</div>
</div>
</body>
</html>
