<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VWiC - Vietnamese Women in Computing</title>
  <link rel="stylesheet" type="text/css" href="/css/story.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,200,100,300,500,600,800,900" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,700italic,900,400italic,300italic" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.sticky.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>

  <script>
  $(window).load(function(){
    $("#menu").sticky({ topSpacing: 0 });
  });
  </script>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar menubar" id="menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <a class="navbar-brand logo" href="#">VWiC</a>
      </div>
      <div>
        <nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
          <ul class="nav navbar-nav navbar-right navstyle">
            <li><a href="/" class="page-scroll">Home</a></li>
            <li><a href="/#about" class="page-scroll">About Us</a></li>
            <li><a href="/#stories" class="page-scroll active">Hall of fame</a></li>
            <li><a href="/#mentorship" class="page-scroll">Mentorship</a></li>
            <li><a href="/#events" class="page-scroll">Events</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- BODY -->
  <div class="container" id="story-header">
    <div class="head-story">
      <center>
        <img src="<%=story.subject_img%>" name="kathypham" width="140px" height="140px" class="img-circle"/>
        <div>
          <a href="#"><img class="icon-story" src="/images/twitter.png" alt="twitter icon"></a>
          <a href="#"><img class="icon-story" src="/images/facebook.png" alt="facebook icon"></a>
        </div>
        <h1 class="hostyle"><%=story.subject%></h1>
        <h2 class="banner-text"><%=story.headline%></h2>
      </center>
    </div>
  </div>

  <!--Comment section -->
  <div class="container" id="story-comments">
    <div class="post">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="https://pbs.twimg.com/profile_images/3627590143/c00483efc3d5f4dfbcdad86ae8efd7d1_bigger.jpeg" class="img-circle avatar" alt="author image">
          </div>
          <div class="pull-left meta">
            <h4 class="user"><%=story.author%> is the author</h4>
            <h5 class="time">1 minute ago</h5>
          </div>
        </div>
        <div class="post-description">
          <p><%=story.content%></p>
          <% story.quotes.forEach(function(quote) { %>
            <blockquote>
              <p>“<%=quote.quote%>”</p>
              <a href="<%=quote.source%>"><small><cite title="Source Title"><%=quote.source%></cite></small></a>
            </blockquote>
          <% }); %>

          <!-- <blockquote>
            <p>“abcdefshvkvnldvdnivlhdiufhvnhdzfnvkdnfkvndnvdkwageufwegqpidpqdmclkwncklnskcnabcdefshvkvnldvdnivlhdiufhvnhdzfnvkdnfkvndnvdkwageufwegqpidpqdmclkwncklnskcnabcdefshvkvnldvdnivlhdiufhvnhdzfnvkdnfkvndnvdkwageufwegqpidpqdmclkwncklnskcn”</p>
            <a href=""><small><cite title="Source Title">medium.com</cite></small></a>
          </blockquote>
          <blockquote>
            <p>“abcdefshvkvnldvdnivlhdiufhvnhdzfnvkdnfkvndnvdkwageufwegqpidpqdmclkwncklnskcnabcdefshvkvnldvdnivlhdiufhvnhdzfnvkdnfkvndnvdkwageufwegqpidpqdmclkwncklnskcnabcdefshvkvnldvdnivlhdiufhvnhdzfnvkdnfkvndnvdkwageufwegqpidpqdmclkwncklnskcn”</p>
            <a href=""><small><cite title="Source Title">medium.com</cite></small></a>
          </blockquote> -->
        </div>

        <div class="post-footer">
          <div class="input-group">
            <input class="form-control" placeholder="Add a comment" type="text">
            <span class="input-group-addon">
              <a href="#"><i class="fa fa-edit"></i></a>
            </span>
          </div>
          <ul class="comments-list">
              <% story.comments.forEach(function(comment) { %>
               <li class="comment">
                <img class="pull-left avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                  <div class="comment-body">
                    <div class="comment-heading">
                      <h4 class="user"><%=comment.username%></h4>
                      <h5 class="time"><%=comment.createdAt%></h5>
                    </div>
                    <p><%=comment.content%></p>
                  </div>
                </li>
              <% }); %>
            <!-- <li class="comment">
              <img class="pull-left avatar" src="http://bootdey.com/img/Content/user_3.jpg" alt="avatar">
                <div class="comment-body">
                  <div class="comment-heading">
                    <h4 class="user">Anh Quach</h4>
                    <h5 class="time">3 minutes ago</h5>
                  </div>
                  <p>I also met her there</p>
                </div>
            </li>

            <li class="comment">
              <img class="pull-left avatar" src="http://bootdey.com/img/Content/user_2.jpg" alt="avatar">
                <div class="comment-body">
                  <div class="comment-heading">
                    <h4 class="user">Holly Ho</h4>
                    <h5 class="time">3 minutes ago</h5>
                  </div>
                  <p>She is a really cool person</p>
                </div>
            </li> -->
          </ul>
        </div> <!-- post footer -->
    </div>
  </div>
</body>
</html>
