<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include header %>
  <script type="text/javascript" src="/js/edit.js"></script>
  <script type="text/javascript" src="/js/stories.js"></script>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar menubar" id="menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <a class="navbar-brand logo" href="/">VWiC</a>
      </div>
      <div>
        <nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
          <ul class="nav navbar-nav navbar-left navstyle">
            <li><a href="/" class="page-scroll">Home</a></li>
            <li><a href="/story" class="page-scroll active">Hall of fame</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right navstyle">
            <li class="<%=hide_option%>"><a href="/profile"><img width="30px" height="30px" src="<%=gender_img%>"></img>   <%=username%></a><li>
            <form method="GET" action="<%=endpoint%>">
              <li><button type="submit" class="btn btn-lg btn-primary fb navbar-btn"><span><i class="fa fa-facebook-square"></i></span><%=button_display%></button></li>
            </form>
          </ul>
        </nav>
      </div>
  </div>
</div> <!-- END SECTION NAVBAR -->
  <div class="container">
    <div class="row">
      <h2>Vietnamese Women in Computing - Hall of Fame</h2>
      <p>Create your hero story now <a href="http://bootsnipp.com/iframe/Zkk0O" target="_blank">full screen</a></p>
      <hr>
        <section id="pinBoot">
          <% stories.forEach(function(story) { %>
              <article class="white-panel"><img src="<%=story.subject_img%>" alt="">
                <h3 class="hostyle"><a href="#"><%=story.subject%></a></h3>
                <h3 class="banner-text"><%=story.headline%></h3>
                <p><%=story.content%></p>
              </article>
            <% }); %>
        </section>
      <hr>
    </div>
  </div>
  <!-- <script>
      window.setTimeout(function() {
      $("#alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
      });
    }, 3000);
  </script> -->

            <!--<div class="container">
            <div>
            <% stories.forEach(function(story) { %>
            <h1><%=story.subject%></h1>
            <h2><%=story.headline%></h2>
            <% }); %>
            <button>View more</button>
          </div>
        </div> -->
</body>
</html>
