<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VWiC - Vietnamese Women in Computing</title>
  <!-- <link rel="stylesheet" type="text/css" href="/css/stories.css"/> -->
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,200,100,300,500,600,800,900" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,700italic,900,400italic,300italic" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/js/jquery.sticky.js"></script>
  <script type="text/javascript" src="/js/edit.js"></script>
  <script type="text/javascript" src="/js/stories.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar menubar" id="menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <a class="navbar-brand logo" href="#">VWiC</a>
      </div>
      <a href="/auth/facebook" class="btn btn-primary fb nav navbar-nav navbar-right"><span><img src="images/facebook.png" width="30px" height="30px"></img></span> Log in with Facebook</a>
  </div>
</div> <!-- END SECTION NAVBAR -->
  <div class="container">
    <div class="row">
      <h2>Vietnamese Women in Computing - Hall of Fame</h2>
      <p>Create your hero story now <a href="http://bootsnipp.com/iframe/Zkk0O" target="_blank">full screen</a></p>
      <hr>
        <section id="pinBoot">
          <% stories.forEach(function(story) { %>
              <article class="white-panel"><img src="<%=story.subject_img%>" alt="">
                <h3 class="hostyle"><a href="#"><%=story.subject%></a></h3>
                <h3 class="banner-text"><%=story.headline%></h3>
                <p><%=story.content%></p>
              </article>
            <% }); %>
        </section>
      <hr>
    </div>
  </div>


            <!--<div class="container">
            <div>
            <% stories.forEach(function(story) { %>
            <h1><%=story.subject%></h1>
            <h2><%=story.headline%></h2>
            <% }); %>
            <button>View more</button>
          </div>
        </div> -->
</body>
</html>
